<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>DB Archiver</title>
	
	<script src="/js/scripts.js" type="text/javascript"></script>
	<link href="/css/styles.css" rel="stylesheet">
</head>


<body>
	<div th:replace="components/basic :: header"></div>

	<div layout:fragment="content" class="content"></div>
</body>
</html>